* {
	margin: 0;
	font-family: 'Product Sans', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: 'Product Sans';
	font-weight: normal;
	src: url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

.PrivateTabIndicator-colorSecondary-7 {
	background-color: #eacc53 !important;
	height: 0.3em !important;
}

.page-item.active > .page-link {
	background-color: #eacc53 !important;
	color: #000 !important;
	border: 1px solid #eacc53 !important;
}

.page-item > .page-link {
	color: #000 !important;
}

Card{
	padding-left: 50;
}